<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>栏目新增</title>
    <!-- Bootstrap Styles-->
    <link href="<?php echo base_url().'assets/css/bootstrap.css'?>" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="<?php echo base_url().'assets/css/font-awesome.css'?>" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="<?php echo base_url().'assets/css/custom-styles.css'?>" rel="stylesheet" />
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="add-project.html"><strong><i class="icon fa fa-plane"></i>管理员</strong></a>
            <div id="sideNav" href="">
                <i class="fa fa-bars icon"></i>
            </div>
        </div>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a class="active-menu" href="<?php echo site_url().'/Admin/add_project'?>"><i class="fa fa-dashboard"></i> 增加项目</a>
                </li>
                <li>
                    <a href="<?php echo site_url().'/Admin/check_project'?>"><i class="fa fa-qrcode"></i> 查看项目</a>
                </li>

                <li>
                    <a href="<?php echo site_url().'/Category/add_category'?>"><i class="fa fa-table"></i> 栏目新增</a>
                </li>
                <li>
                    <a href="<?php echo site_url().'/Category/check_category'?>"><i class="fa fa-fw fa-file"></i>查看栏目</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper" >
       <center> <p>欢迎来到后台管理界面</p></center>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="<?php echo base_url().'assets/js/jquery-1.10.2.js'?>"></script>
<script src="<?php echo base_url().'assets/js/bootstrap.min.js'?>"></script>
<script src="<?php echo base_url().'assets/js/custom-scripts.js'?>"></script>


</body>
</html>
