<!DOCTYPE html>
<html lang="en">

<head>


</head>


<body class="nav-md">

<div class="container body">


    <?php $this->load->view('admin/left.html')?>

    <!-- top navigation -->
    <?php $this->load->view('admin/top.html')?>
    <!-- /top navigation -->
    <!-- page content -->
    <!-- page content -->
    <div class="right_col" role="main">

        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>添加轮播图</h3>
                </div>

            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" style="display: block !important;">

                            <form enctype="multipart/form-data" class="form-horizontal form-label-left" action="<?php echo site_url().'/Picture/add'?>" novalidate method="post">

                                <span class="section">项目详情</span>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="project-name">活动名称 <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="project-name" class="form-control col-md-7 col-xs-12" name="name"  required="required" type="text">
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contact">联系人<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="contact" class="form-control col-md-7 col-xs-12" name="connecter" required="required" type="text">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">联系电话<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="tel" id="telephone" name="phone" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">联系邮箱<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="email" id="email" name="email" class="form-control col-md-7 col-xs-12" required="required">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">活动描述<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <textarea id="textarea" required="required" name="description" class="form-control col-md-7 col-xs-12" maxLength="400"></textarea>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="project-file">上传轮播图片 <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12 file-container">
                                        <input id="project-file" class="form-control col-md-7 col-xs-12" data-validate-length-range="30" data-validate-words="2" name="picture"  type="file">
                                        <input id="file-value" class="form-control col-md-7 col-xs-12" data-validate-length-range="30" data-validate-words="2"    type="text"  placeholder="点击这里选择文件">
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="submit-cancel">
                                        <button id="send" type="submit" class="btn btn-success">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- footer content -->
    <?php $this->load->view('admin/foot.html')?>
    <!-- /footer content -->
</div>


</body>


<script src="<?php echo base_url()?>/style/js/bootstrap.min.js"></script>

<script src="<?php echo base_url()?>/style/js/validator/validator.js"></script>
<script src="<?php echo base_url()?>/style/js/custom.js"></script>

<!-- pace -->

<script src="<?php echo base_url()?>/style/js/pace/pace.min.js"></script>
</html>