<!DOCTYPE html>
<html lang="en">

<head>


</head>


<body class="nav-md">

<div class="container body">


  <?php $this->load->view('admin/left.html')?>

  <!-- top navigation -->
  <?php $this->load->view('admin/top.html')?>
  <!-- /top navigation -->
  <!-- page content -->
  <!-- page content -->
      <div class="right_col" role="main">

        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>
                    修改密码
                </h3>
            </div>

          </div>
          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">

                  <div class="clearfix"></div>
                </div>
                <div style="display: block !important;">

                  <form class="form-horizontal form-label-left" novalidate  method="post">

                    <span class="section">&nbsp;</span>

                    <div class="item form-group password">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="origin-password">原密码<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="origin-password" class="form-control col-md-7 col-xs-12" name="origin-password"  required="required" type="password">
                      </div>
                    </div>
                    <div class="item form-group password">
                      <label for="password" class="control-label col-md-3">新密码</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="password" type="password" name="password" data-validate-length="6,8" class="form-control col-md-7 col-xs-12" required="required">
                      </div>
                    </div>
                    <div class="item form-group password">
                      <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">确认密码</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="password2" type="password" name="password2" data-validate-linked="password" class="form-control col-md-7 col-xs-12" required="required">
                      </div>
                    </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="submit-cancel">
                        <button id="send" type="submit" class="btn btn-success">确认修改</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- footer content -->
      <footer>
        <div class="pull-right">
          Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>

</body>


<script src="<?php echo base_url()?>/style/js/bootstrap.min.js"></script>

  <script src="<?php echo base_url()?>/style/js/validator/validator.js"></script>
<script src="<?php echo base_url()?>/style/js/custom.js"></script>

<!-- pace -->

<script src="<?php echo base_url()?>/style/js/pace/pace.min.js"></script>
</html>
