<!DOCTYPE html>
<html lang="en">

<head>




</head>


<body class="nav-md">

<div class="container body">


  <?php $this->load->view('admin/left.html')?>

  <!-- top navigation -->
  <?php $this->load->view('admin/top.html')?>
  <!-- /top navigation -->
  <!-- page content -->
  <!-- page content -->
      <div class="right_col" role="main">

        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>
                    编辑项目
                </h3>
            </div>

          </div>
          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">

                  <div class="clearfix"></div>
                </div>
                <div class="x_content" style="display: block !important;">

                  <form class="form-horizontal form-label-left" novalidate method="post">

                    <span class="section">项目详情</span>

                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="project-name">项目名称 <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="project-name" class="form-control col-md-7 col-xs-12" name="name"  value="<?php echo $list['0']['name']?>" required="required" type="text">
                      </div>
                    </div>
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="project-type">项目类型<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                       <input id="project-type" class="form-control col-md-7 col-xs-12" name="project-type"  value="<?php echo $list['0']['cname']?>" disabled type="text">
                      </div>
                    </div>
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="time">开发周期<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="number" id="time" name="needtime" required="required" placeholder="天" value="<?php echo $list['0']['needtime']?>" class="form-control col-md-7 col-xs-12">
                      </div>
                    </div>
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="money">预算金额<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="number" id="money" name="money" data-validate-minmax="0,1000000000000" value="<?php echo $list['0']['money']?>" required="required" placeholder="元" class="form-control col-md-7 col-xs-12">
                      </div>
                    </div>
                      <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="publish-time">发布时间<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                       <input id="publish-time" class="form-control col-md-7 col-xs-12" name="datetime"  value="<?php echo $list['0']['datetime']?>" disabled type="text">
                      </div>
                    </div>
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contact">联系人<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                       <input id="contact" class="form-control col-md-7 col-xs-12" name="connecter" value="<?php echo $list['0']['connecter']?>" required  type="text">
                      </div>
                    </div>
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">联系电话<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="tel" id="telephone" name="phone" required="required" data-validate-length-range="8,20" value="<?php echo $list['0']['phone']?>" class="form-control col-md-7 col-xs-12">
                      </div>
                    </div>
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">联系邮箱</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="email" id="email" name="email"  value="<?php echo $list['0']['email']?>"  class="form-control col-md-7 col-xs-12">
                        <!-- <input type="email" id="email" name="email" required="required" class="form-control col-md-7 col-xs-12"> -->
                      </div>
                    </div>
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">项目描述<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea id="textarea" required="required" name="description"   class="form-control col-md-7 col-xs-12" maxLength="400"><?php echo $list['0']['description']?></textarea>
                      </div>
                    </div>
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contact">项目进度<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                         <input type="radio" name="dostatus"   id="a1" <?php if($list[0]['dostatus']==0) echo "checked"?> value="0"  >未完成
                         <input type="radio" name="dostatus"  id="a2"  <?php if($list[0]['dostatus']==1) echo "checked"?> value="1">进行中
                         <input type="radio" name="dostatus" id="a3"  <?php if($list[0]['dostatus']==2) echo "checked"?> value="2">已完成
                      </div>
                    </div>
                    <div class="item form-group">
                     <p class="tip" style="text-align: center">
                       <?php
                       if($list[0]['filestatus']==1)
                       echo '您已上传文件，因只能上传一个文件，若要上传多个文件请上传压缩包';
                       else
                         echo '您未上传文件，若要上传请点击添加附件';

                        ?>
                       &nbsp;&nbsp;<a href="javascript:0" style="color: blue">原件下载</a>
                     </p>
                    </div>
                     <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="project-file">添加附件
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12 file-container">
                        <input id="project-file" class="form-control col-md-7 col-xs-12" data-validate-length-range="30" data-validate-words="2" name="project-file"  type="file">
                        <input id="file-value" class="form-control col-md-7 col-xs-12" data-validate-length-range="30" data-validate-words="2"    type="text"  placeholder="点击这里选择文件">
                      </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="submit-cancel">
                        <button id="send" type="submit" class="btn btn-success">提交</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- footer content -->
      <footer>
        <div class="pull-right">
          Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>

</body>


<script src="<?php echo base_url()?>/style/js/bootstrap.min.js"></script>

<script src="<?php echo base_url()?>/style/js/validator/validator.js"></script>
<script src="<?php echo base_url()?>/style/js/custom.js"></script>

<script type="text/javascript">
$('.right_col').css('min-height', $(window).height());
</script>
<script src="<?php echo base_url()?>/style/js/pace/pace.min.js"></script>
</html>
