<html>
<head>
    <title>登录</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<?php echo base_url()?>style/css/admin.css">
</head>
<body>
<div class="login">
    <form action="check-project.html" method = 'post'>
        <span class="logo">XXX项目发布平台后台登录</span>
        <div class="input-container">
            <label for="name">用户名 *</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="input-container">
            <label for="password">密码*</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">登录</button>
    </form>
</div>
</body>
</html>