<!DOCTYPE html>
<html lang="en">

<head>

    <script>
        function del(tid) {
            if (confirm("确认删除"))
            {
                window.location.href="<?php echo site_url().'/Picture/delete?tid='?>"+tid;

            }
        }
    </script>


</head>


<body class="nav-md">

<div class="container body">


    <?php $this->load->view('admin/left.html')?>

    <!-- top navigation -->
    <?php $this->load->view('admin/top.html')?>
    <!-- /top navigation -->
    <!-- page content -->
    <!-- page content -->
    <div class="right_col" role="main">

        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>1<small>项目列表</small></h3>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_content">

                            <!-- start project list -->
                            <table class="table table-striped projects">
                                <thead>
                                <tr>
                                    <th style="width: 1%">#</th>
                                    <th style="width: 10%">轮播图ID</th>
                                    <th>活动名称</th>
                                    <th>发布时间</th>
                                    <th>联系人</th>

                                    <th style="width: 20%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                <?php foreach ($picture as $v): ?>
                                <tr>
                                    <td>#</td>
                                    <td>
                                        <span><?php echo $v['tid'] ?></span>
                                    </td>
                                    <td>
                                        <a href="javascript:"><?php echo $v['name'] ?></a>
                                    </td>
                                    <td>
                                        <span><?php echo date("Y-m-d H:i:s",$v['datetime']) ?></span>
                                    </td>
                                    <td>
                                        <span><?php echo $v['connecter'] ?></span>
                                    </td>

                                    <td>
                                        <a href="<?php echo site_url().'/Picture/check_view?tid='.$v['tid']?>" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> 查看</a>
                                        <a href="javascript:del(<?php echo  $v['tid']?>)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> 删除 </a>
                                        <a href="<?php echo site_url().'/Picture/edit_view?tid='.$v['tid']?>" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> 编辑 </a>
                                    </td>
                                </tr>

                                <?php endforeach ?>
                                </tbody>
                            </table>
                          <!--  <center><?php echo $links ?></center> -->

                            <!-- end project list -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /page content -->

    <!-- footer content -->
    <footer>
        <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
</div>
</div>

</body>


<script src="<?php echo base_url()?>/style/js/bootstrap.min.js"></script>

<script src="<?php echo base_url()?>/style/js/validator/validator.js"></script>
<script src="<?php echo base_url()?>/style/js/custom.js"></script>

<script type="text/javascript">
    $('.right_col').css('min-height', $(window).height());
</script>
<script src="<?php echo base_url()?>/style/js/pace/pace.min.js"></script>
</html>
