<!DOCTYPE html>
<html lang="en">

<head>


</head>


<body class="nav-md">

<div class="container body">


    <?php $this->load->view('admin/left.html')?>

    <!-- top navigation -->
    <?php $this->load->view('admin/top.html')?>
    <!-- /top navigation -->
    <!-- page content -->
    <!-- page content -->
    <div class="right_col" role="main">
         <center> <h3>欢迎来到后台管理系统</h3></center>

    </div>


    <!-- footer content -->
    <?php $this->load->view('admin/foot.html')?>
    <!-- /footer content -->


</body>


<script src="<?php echo base_url()?>/style/js/bootstrap.min.js"></script>

<script src="<?php echo base_url()?>/style/js/validator/validator.js"></script>
<script src="<?php echo base_url()?>/style/js/custom.js"></script>

<!-- pace -->

<script src="<?php echo base_url()?>/style/js/pace/pace.min.js"></script>
</html>
