<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>XXX项目发布平台</title>



  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">


  <script src="js/jquery.min.js"></script>

</head>


<body class="nav-md">

  <div class="container body">


    <div class="main_container">

      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="check-project.html" class="site_title"><i class="fa fa-paw"></i> <span>蔚蓝</span></a>
          </div>
          <div class="clearfix"></div>

          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="img/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>John Doe</h2>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
              <h3>项目发布后台</h3>
              <ul class="nav side-menu">
                <li><a href="check-project.html"><i class="fa fa-edit"></i>查看项目</a></li>
                <li><a href="add-project.html"><i class="fa fa-plus"></i>添加项目 </a></li>
                <li class="child-menu-show"><a href="javascript:"><i class="fa fa-cog"></i>管理员管理<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="change-password.html">修改密码</a>
                    </li>
                    <li><a href="change-category.html">修改栏目</a>
                    </li>
                    <li><a href="add-category.html">增加栏目</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  John Doe
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                  <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i>退出</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>

      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">

        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>网站开发<small>项目列表</small></h3>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_content">

                  <!-- start project list -->
                  <table class="table table-striped projects">
                    <thead>
                    <tr>
                      <th style="width: 1%">#</th>
                      <th style="width: 10%">项目ID</th>
                      <th>项目名称</th>
                      <th>项目类型</th>
                      <th>开发周期</th>
                      <th>项目预算</th>
                      <th>项目状态</th>
                      <th style="width: 20%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>#</td>
                      <td>
                        <span>22</span>
                      </td>
                      <td>
                        <a href="javascript:">XXX项目</a>
                      </td>
                       <td>
                        <span>互联网开发</span>
                      </td>
                       <td>
                        <span>12天</span>
                      </td>
                       <td>
                        <span>13</span>
                      </td>
                      <td class="project_progress">
                        <span>未完成</span>
                      </td>
                      <td>
                        <a href="project-detail.html" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> 查看</a>
                        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> 删除 </a>
                        <a href="edit-project.html" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> 编辑 </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <!-- end project list -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>

</body>


<script src="js/bootstrap.min.js"></script>

  <script src="js/validator/validator.js"></script>
<script src="js/custom.js"></script>

<script type="text/javascript">
$('.right_col').css('min-height', $(window).height());
</script>
<script src="js/pace/pace.min.js"></script>
</html>
